li:first-child {
    background-color: #ffd700;
}
li:nth-child(2){
    background-color: #c0c0c0;
}
li:nth-child(3){
    background-color: #cd7f32;
}

li {
    background-color: rgba(255, 255, 255);
}